<div class="sidebar">
  <div class="error"><%= @flash %></div>
  <div id="connection">
    <div class="top-bar">
      <h2>Connection</h2>
    </div>
    <div class="select-bar">
      <form action="/config" method="post">
        Host: <input type="text" name="host" value="<%= session[:host] || "127.0.0.1" %>"/><br/>
        Port: <input type="text" name="port" value="<%= session[:port] || "8098" %>"/><br/>
        <input type="submit" value="Connect" />
      </form>
    </div>
  </div>  
  
  <div id="buckets">
    <div class="top-bar">
      <h2>Buckets <span class="edit-link">(edit)</span></h2>
    </div>
    <div id="edit-buckets" class="top-bar" style="display:none;">
      <span class="small">(List bucket names separated by a space...)</span>
      <form action="/config" method="post">
        <textarea name="bucket_names"><%= find("briak", "bucket_names").data rescue nil %></textarea>
        <input type="submit" value="Save Bucket List"/>
      </form>
      <a class="delete-bucket" href="/foo">Delete Bucket</a>
    </div>
    <div class="select-bar">
      <select id="bucket_names">
        <option value="none">(Select Bucket)</option>
        <% bucket_names.each do |b| %>
        <option value="<%= b %>" <%= "selected" if b == @bucket %>><%= b %></option>
        <% end %>
      </select>
    </div>
  </div>
  
  <div id="keys">
    <div class="top-bar">
      <h2>Keys <% if @bucket %><span class="edit-link">(add)</span><% end %></h2>
    </div>
    <div id="edit-keys" class="top-bar" style="display:none;">
      <form action="/newkey/<%= @bucket %>" method="post">
        <input type="text" name="key" /><br>
        <input type="submit" value="Create new key"/>
      </form>
    </div>
    <div class="filter-bar">
      <input class="filter placeholder" type="search" />
    </div>
    <ul id="keys-list">
      <% @keys.each {|k| %>
        <li><a href="/get/<%= @bucket %>/<%= k %>"><%= k %></a></li>
      <% } if @keys %>
    </ul>
    <div class="bottom-bar"></div>
  </div>
</div>
<div class="main">
  <h2><%= @key || "(No key selected)" %></h2>
  <% if @robject %>
    <form action="/put/<%= @bucket %>/<%= @key %>" method="POST">
    <label>Content Type:</label> <input type="text" name="content_type" value="<%= @robject.content_type %>" /><br />
    <label>Create Link:</label> <input type="text" title="Bucket" name="link_bucket" /> 
    <input type="text" title="Link" name="link_key" /> 
    <input type="text" title="Relationship Tag" name="link_rel" /><br />
    <% @robject.links.select{|l| l.rel != "up"}.each do |l| %>
      <label>Link:</label> <a href="<%= "/get/#{l.bucket}/#{l.key}" %>"><%= "/get/#{l.bucket}/#{l.key}" %></a>
      <label>Relationship:</label> <%= l.rel %>
      <span class="edit-link">
        <a href="<%= "/remove_link/#{@bucket}/#{@key}/#{l.bucket}/#{l.key}/#{l.rel}" %>">(remove)</a></span><br />
    <% end %>
      <%= render_data(@bucket, @key, @robject) %>
      <div class="buttons">
        <% unless @robject.content_type =~ /image/ %>
          <input type="submit" name="operation" value="Eval" />
          <span class="edit-link">(What's this?)</span>
          <input type="submit" name="operation" value="Update" />
        <% end %>
        <input type="submit" name="operation" value="Delete" />
      </div>
      <div id="eval-help" style="display:none">
        <h2>Eval Help</h2>
        <p>Eval will run the contents of the currently displayed key through Ruby eval,
          and display the results below. This is useful for testing MapReduce code snippets.</p>
        <p>For example, this code will display all values of the Briak bucket:</p>
        <p>Riak::MapReduce.new(client).add("briak").map("function(v){ return [v.values[0].data] }", :keep=>true).run</p>
      </div>
    </form>
  <% end %>
  <% if @results %>
    <h2>Results of Eval</h2>
    <textarea id="results" spellcheck="false"><%= @results %></textarea>
  <% end %>
</div>

<script type="text/javascript">
  $('#bucket_names').change(function() {
    window.location = '/get/' + $('#bucket_names').val();
  });
  
  $('#buckets .edit-link').click(function() {
    $('#edit-buckets').toggle();
  });
  
  $('.main .buttons .edit-link').click(function() {
    $('#eval-help').toggle();
  });
  
  $('#keys .edit-link').click(function() {
    $('#edit-keys').toggle();
  });

  $('.main input[value="Delete"]').click(function() {
    return confirm("Are you sure?");
  });
  
  $('input.filter').bind("blur keyup", function() {
    $(this).val() == "" ? $(this).addClass("placeholder") : $(this).removeClass("placeholder");
  });
  
  $(document).ready(function() {
    $('#keys').liveFilter('ul');
  });
  
  $(document).ready(function() {
  	$('input[title]').each(function() {
  		if($(this).val() === '') {
  			$(this).val($(this).attr('title'));
  		}
  
  		$(this).focus(function() {
  			if($(this).val() === $(this).attr('title')) {
  				$(this).val('').addClass('focused');
  			}
  		});
  
  		$(this).blur(function() {
  			if($(this).val() === '') {
  				$(this).val($(this).attr('title')).removeClass('focused');
  			}
  		});
  	});
  });  
  
  jQuery(function($) { // document ready
    $('a.delete-bucket').live('click', function(event) {
        if ( confirm("Are you sure you want to delete all the keys in bucket: <" + $('#bucket_names').val() + "> ?") )
            $('<form method="post" action="/delete_bucket/' + $('#bucket_names').val() + '" ></form>')
              .appendTo('body')
              .submit();
        return false;
    });
  });
  
</script>